img {
    width: 700px;
}

button {
    background-color: white;
    border-radius: 24px;
    border-width: 1px;
    border-color: #5D6C7B;
    width: 546px;
    height: 44px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

button:hover:not(.login-button){
    background-color: #F0F0F0;
}

.right{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: -1.7em;
}

.left{
    text-align: center;
    margin-left: -4em;
    margin-top: -8em;
}

input {
    border-radius: 18px;
    border-width: 2px;
    border-color: #ccd3db !important;
    margin-bottom: 10px;
    padding: 10px 16px;
    width: 512px;
    height: 38px;
    font-family: system-ui,sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.input:focus {
    outline: none;
    border-color: #5D6C7B;
}

.login-button {
    background-color: #98c0f2;
    border:none;
    color: white;
}

.logo {
    width: 140px;
    margin-top: -56em;
    margin-left: -5em;
}

.create-account-button {
    border-color: #3785e6;
    color: #65a1ec;
}

.forgot-password-button {
    border:none;
    margin-bottom: 55px;
}
.facebook {
    width: 26px;
    margin-right: 3px;
}
.meta {
    width: 19px;
    margin-right: 2px;
}
 .left p{
    font-size: 2.8vw;
    font-family: Instagram Sans Regular;
    font-weight: 400;
    margin-bottom: 0;
} 

.facebook-login-button{
    display: flex;    
    justify-content: center;
    align-items: center;
}

.container:not(.logo){
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: relative;

} 


.right p{
    margin-bottom: 2em;
    margin-left: -24em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}
.right h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.hr{
    margin-top: -8em;
    color: #dde2e8;
}


.input-field {
    position: relative;
    width: 512px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.input-field input {
    width: 100%;
    height: 38px;
    padding: 18px 16px 6px;

    border-radius: 18px;
    border: 2px solid #ccd3db;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    font-family: system-ui,sans-serif;
    

}

.input-field label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #8e8e8e;
    pointer-events: none;
    transition: 0.2s ease;
    background: white;
    padding: 0 6px;
    margin-left: -5px;
}

.input-field input:focus + label,
.input-field input:valid + label {
    top: 10px;
    font-size: 15px;
    color: #5D6C7B;
}

.some{
    width: 44px;
    border-radius: 50%;
    border-width: 0;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 50px;
}

